<nav class="navbar bg-light border">
  <div class="container-fluid d-flex">
    <%= link_to "Wikinimous", articles_path, class: "text-dark", style: "text-decoration: none;" %>
    <%= link_to "New Article", new_article_path, class: "text-dark", style: "text-decoration: none;" %>
  </div>
</nav>
