/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgb(233, 232, 232);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
} */
.container-fluid {
  margin: 0;
  padding: 0;
}

.d-flex {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgb(233, 232, 232);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
}

.col-sm-8 {
  margin-left: 20%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.article{
  display: block;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

h2 {
  display: block;
  font-size: 29px;
  font-weight: 600;
  line-height: 1;
  margin-block-start: 0.8em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a {
  color: #337ab7;
  cursor: pointer;
  line-height: 0.7;
  text-decoration: none;
}

a.link-hover:hover {
  text-decoration: underline;
  color: #1c405e
}
